body {
    font-family: 'Noto Sans TC';
    float: left;
    width: 100%;

    &.body-pages-in, &.body-profile-page {
        position: relative;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.opened-main-menu-body {
    @media (max-width: 991px) {
        overflow: hidden;
    }
}

#page-notes {
    #notes {
        background-color: #f1f1f1;
    }
}

#page-category {
    #category {
        background-color: #f1f1f1;
    }
}

#page-trash {
    #trash {
        background-color: #f1f1f1;
    }
}

#page-user-profile-datas {
    #my-datas-user-menu {
        background-color: #f1f1f1;
        border-radius: 0 50px 50px 0;
    }
}

#page-user-profile-password {
    #change-password-user-menu {
        background-color: #f1f1f1;
        border-radius: 0 50px 50px 0;
    }
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}