body {
    font-family: 'Noto Sans TC';
    position: relative;
    float: left;
    width: 100%;
}

#page-notes {
    #notes {
        background-color: #f1f1f1;
    }
}

#page-category {
    #category {
        background-color: #f1f1f1;
    }
}

#page-trash {
    #trash {
        background-color: #f1f1f1;
    }
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}