// -------------------- Montserrat --------------------
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

// -------------------- Noto Sans TC --------------------
@font-face{
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC/NotoSansTC-Thin.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC/NotoSansTC-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC/NotoSansTC-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC/NotoSansTC-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC/NotoSansTC-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC/NotoSansTC-Black.otf');
    font-weight: 900;
    font-style: normal;
}

// -------------------- Confortaa --------------------
@font-face{
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-SemiBold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Bold.otf');
    font-weight: 900;
    font-style: normal;
}