section {
    &.main-content, &.main-user-content {
        float: left;
        width: 100%;
        transition-duration: .2s;
        padding-right: 230px;
        margin-top: 20px;

        &.open-menu-for-content {

            @media (min-width: 1400px) {
                padding-left: 360px;
                padding-right: 80px;
            }
            @media (min-width: 992px) and (max-width: 1399px) {
                padding-left: 310px;
                padding-right: 30px;
            }
            @media (max-width: 991px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        &.open-menu-for-content-2 {
            @media (min-width: 1400px) {
                padding-left: 180px;
                padding-right: 180px;
            }
            @media (min-width: 992px) and (max-width: 1399px) {
                padding-left: 150px;
                padding-right: 150px;
            }
            @media (max-width: 991px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}