#add-note-modal, #update-note-modal, #restore-note-modal {
    .modal-header {
        input {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
            background-color: transparent;
            border: 0;
            outline: 0;
        }

        input[type="checkbox"] {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        input[type="checkbox"] + label {
            position: relative;
            cursor: pointer;
            padding-left: 30px;
            margin-bottom: 0;

            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;
                bottom: 2px;
                border: 2px solid;
                border-radius: 4px;
                vertical-align: bottom;
            }
        }

        input[type="checkbox"]:checked + label {
            &:before {
                border: 2px solid #000;
                background-color: #000;
            }
            &:after {
                content: '';
                position: absolute;
                left: 7px;
                bottom: 7px;
                width: 7px;
                height: 12px;
                border-right: solid 3px #fff;
                border-bottom: solid 3px #fff;
                transform: rotate(45deg);
            }

        }
    }
    .modal-body {
        input {
            float: left;
            width: 75%;
            height: 40px;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid rgb(169, 169, 169);
            border-left: none;
            outline: none;
            margin-bottom: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-indent: 5px;

            &.id-user-note {
                display: none;
            }
        }

        select {
            float: left;
            width: 23%;
            height: 40px;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid rgb(169, 169, 169);
            border-left: none;
            outline: none;
            margin-left: 2%;
            margin-bottom: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-indent: 5px;
        }

        textarea {
            width: 100%;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid rgb(169, 169, 169);
            border-left: none;
            outline: none;
            padding-top: 5px;
            padding-bottom: 5px;
            text-indent: 5px;
        }
    }
}

#add-category-modal, #update-category-modal {
    .modal-body {
        input {
            width: 100%;
            height: 40px;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid rgb(169, 169, 169);
            border-left: none;
            outline: none;
            margin-bottom: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-indent: 5px;

            &#id-user-category {
                display: none;
            }
        }
    }
}

.modal-body {
    .modal-footer-custom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        padding: 5px 0 5px 5px;

        button {
            margin: 5px;

            &:last-child {
                margin: 5px 0 5px 5px;
            }
        }
    }
}

#update-user-modal {
    .modal-body {
        float: left;
        width: 100%;

        input, select {
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #ddd;
            border-left: none;
            width: 100%;
            height: 40px;
            outline: none;
            margin-bottom: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-indent: 5px;
        }

        @media (min-width: 992px) {
            .modal-body-first-box {
                float: left;
                width: 46%;
            }
            .modal-body-second-box {
                float: right;
                width: 46%;
            }
        }

        @media (max-width: 991px) {
            .modal-body-first-box, .modal-body-second-box {
                float: left;
                width: 100%
            }
        }
    }

    .modal-footer-custom {
        float: right;
        width: 100%;
    }
}

#delete-note-modal {
    .modal-body {
        margin: auto;

        a {
            width: 70px;
            margin-right: 10px;
            margin-left: 10px;

            &:nth-child(1) {
                color: #fff;
            }
            &:nth-child(2) {
                border: 1px solid #ddd;
            }
        }
    }
}

#delete-category-modal {
    .modal-content {
        .modal-body {
            margin: auto;

            a {
                width: 70px;
                margin-right: 10px;
                margin-left: 10px;


                &.btn-secondary {
                    color: #fff;
                }
                &.btn-light {
                    border: 1px solid #ddd;
                }
            }
        }
    }
}