.main-content, #single-content-category {

    #title-category-name {
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 15px;
    }

    .note-container {
        float: left;
        width: 100%;
        .sec-marked-notes {
            float: left;
            width: 100%;

            h4 {
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
            }

            .marked-notes {
                float: left;
                width: 100%;
                margin-bottom: 30px;
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }

        .sec-no-marked-notes {
            float: left;
            width: 100%;

            h4 {
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
            }
            
            .no-marked-notes {
                float: left;
                width: 100%;
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }

        .single-note {
            position: relative;
            min-width: 24%;
            min-height: 115px;
            height: auto;
            margin: 0 2px 15px 2px;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            padding: 20px 20px 50px 20px;
            margin: 0 0.5% 15px 0.5%;
            border: 1px solid #DDD;
            border-radius: 5px;

            &:hover {
                .options-single-note {
                    visibility: visible;
                }
            }

            .title-single-note {
                cursor: default;
                font-size: 17px;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 10px;
            }

            .marked-single-note {
                position: absolute;
                top: 5px;
                right: 10px;

                i {
                    font-size: 14px;
                }
            }

            .description-single-note {
                cursor: default;
                font-size: 15px;
                font-weight: 400;
                font-style: normal;
            }

            .options-single-note {
                display: inline-block;
                position: absolute;
                bottom: 15px;
                right: 15px;
                visibility: hidden;

                .colors-options {
                    float: left;
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    margin-right: 10px;
                    border-radius: 50px;

                    &:hover {
                        background: #ddd;
                    }

                    i {
                        font-size: 15px;
                    }
                }

                .delete-note {
                    float: left;
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    border-radius: 50px;

                    &:hover {
                        background: #ddd;

                        .container-all-options {
                            display: inline-block;
                            visibility: visible;
                        }
                    }

                    i {
                        font-size: 15px;
                    }

                    .container-all-options {
                        position: absolute;
                        top: 25px;
                        left: 0;
                        text-align: left;
                        width: 125px;
                        height: auto;
                        background-color: #FFF;
                        border: none;
                        border-radius: 5px;
                        padding: 15px 0;
                        background-color: #FFF;
                        box-shadow: 0px 2px 4px #DDD;
                        display: none;
                        visibility: hidden;
                        z-index: 999;
                        transition-duration: .2s;

                        &:hover {
                            display: inline-block;
                            visibility: visible;
                        }

                        button {
                            width: 100%;
                            height: 30px;
                            text-align: left;
                            padding: 0 15px;
                            border: none;
                            transition-duration: .2s;

                            &:hover {
                                background: #ddd
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}