#single-content-category {

    #title-category-name {
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 15px;
        margin-left: 0.5%;
    }

    #notes-container {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        // -webkit-column-gap: 10px;
        // -moz-column-gap: 10px;
        // column-gap: 15px;
        // display: inline-block;
        // width: 100%;

        .single-note {
            min-width: 24%;
            min-height: 115px;
            height: auto;
            margin: 0 2px 15px 2px;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            padding: 20px 20px 45px 20px;
            margin: 0 0.5% 15px 0.5%;
            border: 1px solid #DDD;
            border-radius: 5px;

            .title-single-note {
                font-size: 17px;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 10px;
            }

            .description-single-note {
                font-size: 15px;
                font-weight: 400;
                font-style: normal;
            }
        }
    }
}