#main-trash-content {
    .all-trash-options {
        float: left;
        cursor: pointer;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 50px;

        .trash-options {
            display: none;
            visibility: hidden;
            float: left;
            width: 120px;
            height: auto;
            text-align: left;
            margin: auto;
            background-color: #fff;
            border: 1px solid #cdcdcd;

            button {
                &:focus {
                    outline: 0;
                }
            }

            .action-trash-note {
                text-align: left;
                padding: 3px 15px;
                border: none;
                width: 100%;

                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }

        &:hover {
            background-color: #f1f1f1;

            .trash-options {
                display: inline-block;
                visibility: visible;
            }
        }
    }
}