#main-trash-content {
    #title-trash {
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 15px;
    }
    #trash-content-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        float: left;
        width: 54px;
        height: 35px;
        text-align: center;

        #restore-note-form {
            float: left;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            
            &:hover {
                background-color: #ddd;
            }

            button {
                &[type=submit] {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    outline: none;
                }

                i {
                    font-size: 15px;
                }
            }
        }
        .delete-trash-note {
            float: left;
            cursor: pointer;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            
            &:hover {
                background-color: #ddd;
            }

            i {
                font-size: 15px;
            }
        }
    }
}