section {
    &#user-content, &#user-change-password {
        .user-container {

            @media (max-width: 991px) {
                text-align: center;
            }

            h4 {
                font-size: 32px;
                font-weight: 300;
                font-style: normal;
                margin-bottom: 30px;
            }

            .main-info-user {
                float: left;
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 3px;

                .info-user {
                    float: left;
                    margin-right: 7px;
                }

                @media (min-width: 992px) {
                    &:nth-child(even) {
                        width: 40%;
                    }
                    &:nth-child(odd) {
                        width: 60%;
                    }
                }
                 @media (max-width: 991px) {
                     width: 100%;
                 }
            }

            button {
                border: 1px solid $border-color;
                background-color: #fff;
                border-radius: 30px;
                width: 115px;
                height: 40px;
                padding: 5px 20px;
                margin-top: 30px;
                margin-bottom: 15px;

                &:hover {
                    background-color: #f1f1f1;
                }
                &:focus {
                    outline: 0;
                }
            }
        }
    }

    &#user-change-password {
        #form-change-password {
            #password-datas {
                float: left;
                width: 100%;

                label {
                    &:nth-child(2) {
                        float: left;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    @media (min-width: 992px) {
                        &:nth-child(3) {
                            float: left;
                            margin-right: 15px;
                        }
                        &:nth-child(4) {
                            float: left;
                        }
                    }

                    @media (max-width: 991px) {
                        &:nth-child(3) {
                            float: left;
                            width: 100%;
                        }
                        &:nth-child(4) {
                            float: left;
                            width: 100%;

                        }
                    }
                }

                input {
                    border-top: none;
                    border-right: none;
                    border-bottom: 1px solid $border-color;
                    border-left: none;
                    height: 35px;
                    margin-left: 10px;
                    text-indent: 10px;

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
}